page-seleccion-articulo {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .articuloCodigo {
    font-weight: bold;
  }
  .articuloPrecio {
    color: green;
  }
}
