<!-- Navegacion y ubicacion -->
<nav materialize>
  <div class="nav-wrapper">
    <div id="breadcrumbs-col" class="col s12">
      <a routerLink="/" class="breadcrumb">Dashboard</a>
      <a routerLink="/configuracion/dashboard" class="breadcrumb">Configuración</a>
      <a routerLink="/persona/tipodocumento" class="breadcrumb">Gestión de tipos de documentos</a>
      <ul class="right hide-on-med-and-down" style="margin-top:15px">
        <li>
          <a routerLink="/configuracion/dashboard" class="waves-effect waves-light btn right">
            <i class="material-icons">arrow_back</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="section"></div>

<div class="row">
  <form materialize class="col s12">
    <div class="row">
      <!-- Search -->
      <div class="input-field col s10 m5">
        <input id="input-search"
        type="text"
        class="validate"
        placeholder="Busqueda por t&eacute;rmino"
        [(ngModel)]="term"
        [ngModelOptions]="{standalone: true}">
        <label for="input-search">Buscar</label>
      </div>
      <div class="input-field col s2 m1">
        <button class="btn btn-floating waves-effect waves-light tooltipped"
                materialize="tooltip"
                data-position="bottom"
                data-tooltip="Búsqueda por término"
                type="submit"
                name="action"
                (click)="syncSearch()">
          <i class="material-icons">search</i>
        </button>
      </div>

    </div>
  </form>
</div>

<div class="row">
  <div class="col s12">
    <!-- Tabla -->
    <table class="responsive-table centered highlight">
      <thead>
        <tr>
          <th>Sigla</th>
          <th>Descripci&oacute;n</th>
          <th>
            <i class="material-icons">more_horiz</i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipoDocumento of tipoDocumentos | paginate: { id: 'paginator', itemsPerPage: 7, currentPage: p, totalItems: total }"
            [class.active]="tipoDocumento === selectedTipoDocumento">
          <td>{{tipoDocumento.sigla}}</td>
          <td>{{tipoDocumento.descripcion}}</td>
          <td>
            <button class="btn-small btn-floating waves-effect waves-light blue tooltipped"
               materialize="tooltip"
               data-position="top"
               data-tooltip="Editar"
               type="button"
               (click)="editAction(tipoDocumento)">
               <i class="material-icons">edit</i>
            </button>
            <button id="btn-delete-forever" class="btn-small btn-floating waves-effect waves-light red tooltipped"
               materialize="tooltip"
               data-position="top"
               data-tooltip="Borrar permantentemente"
               type="button"
               (click)="removeAction(tipoDocumento); $event.stopPropagation()">
               <i class="material-icons">delete_forever</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <!-- Pagination -->
  <div id="pagination-control" class="col s12 m4">

    <pagination-controls  id="paginator"
                          (pageChange)="pageChanged($event)"
                          maxSize="9"
                          directionLinks="true"
                          autoHide="true"
                          responsive="true"
                          previousLabel="Previous"
                          nextLabel="Next"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page">
    </pagination-controls>

  </div>
  <div class="col s12 m8">
    <!-- Info -->
    <div class="card-panel">
      <span class="black-text text-darken-2">Actualizado {{ searchTime | date:'dd/MM/yyyy hh:mm:ss aaa zzzz' }}</span>
    </div>
  </div>
</div>

<!-- Fixed Add Button -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large teal lighten-2 tooltipped"
     materialize="tooltip"
     data-position="left"
     data-tooltip="Agregar"
     type="button"
     (click)="newAction()">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="modalForm"
     class="modal"
     materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalForm">
  <div class="modal-content">
    <h5>{{modalTitle}}</h5>
    <div class="row" *ngIf="selectedTipoDocumento">
      <form class="col s12">
        <!-- Id  -->
        <div class="row">
          <div class="input-field col s12">
            <input id="input-id"
            type="number"
            class="validate"
            [(ngModel)]="selectedTipoDocumento.id"
            [ngModelOptions]="{standalone: true}"
            #tipoDocumentoId hidden>
          </div>
        </div>
        <!-- Cedula & Username-->
        <div class="row">
          <div class="col s12 m6">
            <!-- Sigla -->
            <label for="input-sigla">Sigla</label>
            <input id="input-sigla"
            type="text"
            class="validate"
            placeholder="* Sigla"
            [(ngModel)]="selectedTipoDocumento.sigla"
            [ngModelOptions]="{standalone: true}"
            #tipoDocumentoSigla required>
          </div>
        </div>
        <!-- Email -->
        <div class="row">
          <div class="col s12">
            <!-- Sigla -->
            <label for="input-descripcion">Descripci&oacute;n</label>
            <input id="input-descripcion"
            type="text"
            class="validate"
            placeholder="* Descripci&oacute;n"
            [(ngModel)]="selectedTipoDocumento.descripcion"
            [ngModelOptions]="{standalone: true}"
            #tipoDocumentoDescripcion required>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancelar</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat"
    *ngIf="selectedTipoDocumento"
    (click)="save()">Guardar</a>
  </div>
</div>
