.nav-wrapper{
 background-color: #428aff !important;
}

#breadcrumbs-col {
  padding-left: 20px;
}

.pagination li.active a {
  background: #00ab99; /* teal lighten-2 */
}

#pagination-control {
  padding-top: 15px;
}

#btn-delete-forever, #btn-lock, #btn-unlock, #btn-renew {
  margin-left: 5px;
}
