page-buscar-documento {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  #topCard {
    padding-bottom:6px;
  }
  .precioVenta {
    color: green;
  }
  .articuloCodigo {
    font-weight: bold;
  }
}
