page-login {
  #topButtons {
    display: flex;
    flex-direction: row;
  }
  #topButtons button {
    flex:1;
  }
  #app-logo {
    width: 50%;
    margin: auto;
    display: block;
  }
  .vertical-align-content > * {
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
  }
}
