<app-persona></app-persona>

<!--
<div class="row">

  <div *ngFor="let cardItem of cardItems" class="col s12 m4">
    <div [ngClass]="cardItem.class" *ngIf="cardItem.access">
      <div class="card-content white-text">
        <span class="card-title">
          <i *ngIf="cardItem.icon" class="material-icons left">{{ cardItem.icon | lowercase }}</i>
          {{ cardItem.name }}
        </span>
        <p>{{ cardItem.description }}</p>
      </div>
      <div class="card-action">
        <a routerLink="{{ cardItem.route }}" class="white-text">Acceder</a>
      </div>
    </div>
  </div>

</div>
-->
